
@{
    ViewBag.Title = "Chi Nhánh";
    Layout = "~/Views/Shared/_LayoutUser1.cshtml";
}

<div class="ps-section pt-80 pb-80">
    <div class="container">
        <div class="ps-contact">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                    <div class="ps-contact__info">
                       <div>
                           <img src="~/imglogin/bakery.jpg" />
                       </div>
                        <h4 style="margin-top:10px;font-family:Arial, Helvetica, sans-serif">TRỤ SỞ VĂN PHÒNG</h4><hr />
                        <div class="ps-contact__block">
                            <p><i class="fa fa-home"> 416 Thạch Lam, P.Phú Thạnh, Q.Tân Phú</i></p>
                            <p><i class="fa fa-envelope-o"></i>vanilabakery@gmail.com</p>
                            <p><i class="fa fa-phone"></i>082831034</p>
                            <h4 style="font-family:Arial, Helvetica, sans-serif">Theo dõi tại</h4>
                            <ul class="ps-contact__social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            </ul>
                            <!-- Modal -->
                            <div id="myModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>              
                                        </div>
                                        <div class="modal-body">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.409845888085!2d106.61872841425645!3d10.779888812078768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752c1b078d081d%3A0x6078eaa415147828!2zNDE2IFRo4bqhY2ggTGFtLCBQaMO6IFRo4bqhbmgsIFTDom4gUGjDuiwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1552644551984" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                    <h4 style="font-family:Arial, Helvetica, sans-serif">HỆ THỐNG CỬA HÀNG</h4><hr />
                    <div class="ps-contact__block">
                        <p><i class="fa fa-home"> 416 Thạch Lam, P.Phú Thạnh, Q.Tân Phú</i></p>
                        <p><i class="fa fa-envelope-o"></i>vanilabakery@gmail.com</p>
                        <p><i class="fa fa-phone"></i>082831034</p>
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Bản đồ</button>
                    </div>
                    <div class="ps-contact__block">
                        <p><i class="fa fa-home"> 154 Nguyễn Kim, P.6, Q.10</i></p>
                        <p><i class="fa fa-envelope-o"></i>vanilabakery01@gmail.com</p>
                        <p><i class="fa fa-phone"></i>0366927218</p>
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1">Bản đồ</button>
                        <!-- Modal -->
                        <div id="myModal1" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31355.935173922506!2d106.6236987!3d10.7735872!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752eef2ba95d39%3A0x647d4047e02beff7!2zMTU0IE5ndXnhu4VuIEtpbSwgUGjGsOG7nW5nIDYsIFF14bqtbiAxMCwgSOG7kyBDaMOtIE1pbmg!5e0!3m2!1svi!2s!4v1552741235953" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>


